.header {
  width: 100%;
  overflow-x: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}

.top-header {
  background-color: #f3eecd;
  padding: 8px 0;
  color: white;
  width: 100%;
}

.top-header .container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.top-header .welcome-text {
  color: var(--color-text);
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
}

.top-header .join-us-btn {
  height: 38px;
  min-width: 194px;
  background-color: var(--color-text);
  border: none;
  color: var(--white-color);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.top-header .join-us-btn:hover {
  opacity: 0.8;
}

.main-header {
  padding: 16px 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.main-header .container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.logo img {
  height: 40px;
  width: auto;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 40px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 54px;
}

.nav-link {
  color: #00140f !important;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 16px !important;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.header-buttons .btn {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  min-width: 80px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-buttons .btn-outline {
  background-color: transparent;
  border: 1px solid #047051;
  color: #047051;
}

.header-buttons .btn-outline:hover {
  background-color: #047051;
  color: white;
}

.header-buttons .btn-primary {
  background-color: var(--color-text);
  border: 1px solid var(--color-text);
  color: white;
}

.header-buttons .btn-primary:hover {
  background-color: #047051;
  border-color: #047051;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-name {
  color: #00140f;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.user-name a {
  color: var(--color-text);
}

.user-name a:hover {
  color: var(--color-text);
}

.menu-toggle {
  display: none;
  font-size: 23px;
  margin-left: 16px;
  background: none;
  border: none;
  color: #00140f;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  padding: 0;
}

.menu-toggle i {
  transition: transform 0.3s ease, color 0.3s ease;
}

.menu-toggle.open i {
  transform: rotate(180deg);
  color: #047051;
}

.mobile-menu {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: inline-block;
  }
  .logo-area {
    display: flex;
    justify-content: space-between;
    flex: unset !important;
    width: 100% !important;
    position: relative;
    z-index: 1;
  }
  .main-nav-wrapper {
    width: 100%;
    flex-direction: column;
    display: none;
    align-items: flex-start;
  }

  .main-nav {
    width: 100%;
    margin-top: 12px;
  }
  .header-buttons {
    display: none;
  }
  .mobile-menu.open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e6fbff;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 100px 15px 15px;
  }
  .mobile-menu.open .main-nav-wrapper {
    display: block;
  }

  .mobile-menu.open .header-buttons {
    display: flex;
    flex: unset;
    width: 100%;
    padding: 0 15px;
  }
  .mobile-menu.open .header-buttons > .d-flex {
    justify-content: space-between;
  }
  .mobile-menu.open .flex {
    flex: unset !important;
  }
  .main-header .col {
    flex: unset;
  }
  .nav-list {
    flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    display: block;
    padding: 10px 0;
  }

  .header-buttons {
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
  }
}


@media (max-width: 768px) {
  .top-header .welcome-text {
    font-size: 18px;
  }
  
  .main-nav {
    margin-left: 20px;
  }
  
  .nav-list {
    gap: 12px;
  }
  
  .header-buttons {
    gap: 8px;
  }
  
  .header-buttons .btn {
    padding: 0 12px;
    font-size: 12px;
    min-width: 70px;
  }
  footer p {
    font-size: 12px;
  }
} 
@media (max-width: 460px) {
  .top-header .welcome-text {
    font-size: 14px;
  }
  .top-header .join-us-btn {
    min-width: 94px;
    font-size: 14px;
  }
}