.hero-section {
  padding: var(--spacing-xl) 0;
  background: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
}

.hero-section h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: var(--spacing-sm);
  line-height: 1.2;
  margin: 1.5rem 0 1.5rem;
}

.hero-section .hero-container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.hero-section .hero-content {
  flex: 1;
  max-width: 650px;
}

.hero-section .hero-content p {
  color: var(--black-color);
}

.hero-section .hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: var(--spacing-sm);
  line-height: 1.2;
}

.hero-section .hero-content .subtitle {
  font-size: 1.5rem;
  color: var(--black-color);
  margin-bottom: var(--spacing-md);
  font-weight: 500;
}

.hero-section .hero-content .description {
  font-size: 1.1rem;
  color: var(--black-color);
  line-height: 1.7;
  margin-bottom: var(--spacing-lg);
  max-width: 600px;
}

.hero-section .hero-content .cta-buttons {
  display: flex;
  gap: var(--spacing-md);
}

.hero-section .hero-content .cta-buttons button {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.hero-section .hero-content .cta-buttons button.primary-btn {
  background: var(--color-action);
  color: white;
  border: 1px solid var(--color-action);
}

.hero-section .hero-content .cta-buttons button.primary-btn:hover {
  background: #047051;
  border-color: #047051;
}

.hero-section .hero-content .cta-buttons button.secondary-btn {
  background: transparent;
  color: var(--color-action);
  border: 1px solid var(--color-action);
}

.hero-section .hero-content .cta-buttons button.secondary-btn:hover {
  background: var(--color-action);
  color: white;
}

.hero-section .hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-section .hero-image img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .hero-section {
    padding: var(--spacing-lg) 0;
  }

  .hero-section .hero-container {
    flex-direction: column;
    text-align: center;
    gap: var(--spacing-lg);
  }

  .hero-section .hero-content {
    max-width: 100%;
  }

  .hero-section .hero-content h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem !important;
  }
  .hero-section h2 {
    font-size: 1.35rem;
  }
  .hero-section .lead {
    font-size: 1rem;
  }
  .hero-section .hero-content .subtitle {
    font-size: 1.25rem;
  }

  .hero-section .hero-content .description {
    font-size: 1rem;
    max-width: 100%;
  }

  .hero-section .hero-content .cta-buttons {
    justify-content: center;
  }

  .hero-section .hero-image {
    justify-content: center;
  }

  .hero-section .hero-image img {
    max-width: 80%;
  }
} 