.tabs-section {
  padding: 0 0;
  position: relative;
  top: -49px;
}

.tabs-section .tabs-container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.tabs-section .tabs-header {
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-lg);
  padding-bottom: var(--spacing-sm);
}

.tabs-section .tabs-header .tab-button {
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  background: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  color: var(--black-color);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border: 2px solid var(--dark-blue-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tabs-section .tabs-header .tab-button b {
  font-size: 28px;
  font-weight: 800;
}

.tabs-section .tabs-header .tab-button span {
  font-size: 16px;
  font-weight: 400;
}

.tabs-section .tabs-header .tab-button:hover {
  color: var(--white-color);
  background-color: var(--dark-blue-color);
}

.tabs-section .tabs-header .tab-button.active {
  border-radius: 8px 0 0 8px;
}
.tabs-section .tabs-header .tab-button.last {
  border-radius: 0 8px 8px 0;
}

.tabs-section .tab-content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
  color: var(--black-color);
}

.tabs-section .tab-content > div {
  color: var(--black-color);
  line-height: 1.6;
}

.tabs-section .tab-content .service-content {
  display: flex;
}

.tabs-section .tab-content .service-content b {
  color: var(--color-action);
}

.tab-content {
  padding: 0;
}

.tab-text-content {
  padding-right: 2rem;
}
.tab-text-content p {
  font-size: 18px;
}

.tab-text-content p strong{
  color : #EA6C1D;
  padding-right: 5px;
}

.tab-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-image-wrapper img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .tabs-section {
    padding: var(--spacing-lg) 0 0;
  }

  .tabs-section .tabs-header {
    flex-wrap: wrap;
    gap: var(--spacing-xs);
  }

  .tabs-section .tabs-header .tab-button {
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: 0.9rem;
  }

  .tabs-section .tab-content h2 {
    font-size: 1.5rem;
  }
  .tabs-section .tabs-header .tab-button b {
    font-size: 22px;
  }
  .tabs-section .tabs-header .tab-button span {
    font-size: 14px;
  }
  .tabs-section .tab-content h2 {
    margin-bottom: 1rem;
  }
  .tab-text-content p {
    font-size: 15px;
  }
  .tab-image-wrapper img {
    max-width: 350px;
  }
} 
@media (max-width: 768px) {
  .tabs-section {
    padding: 0;
  }
  .tabs-header .row {
    gap: 15px !important;
  }
  .tabs-section .tabs-header .tab-button {
    border-radius: 10px !important;
  }
  .video-banner-section h1 {
    font-size: 1.65rem;
  }
  .video-banner-section h4 {
    font-size: 1rem;
  }
  
}

